* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: "Poppins", sans-serif;
  color: white;
}

button {
  width: 12rem;
  height: 3.5rem;
  font-size: 28px;
  background: lightslategray;
  border-style: none;
  color: white;
  border-radius: 0.8rem;
}

button:hover {
  background: slategray;
}

img {
  height: 15rem;
  width: 15rem;
  border-style: none;
  margin-bottom: 4vh;
  margin-top: 4vh;
}

.box1 {
  font-size: 5rem;
}
